<!doctype html>
<head>
        <style>
                table {
                  font-family: arial, sans-serif;
                  border-collapse: collapse;
                  width: 100%;
                }
                
                td, th {
                  border: 1px solid #dddddd;
                  text-align: left;
                  padding: 8px;
                }
                
                tr:nth-child(even) {
                  background-color: #dddddd;
                }
                </style>

</head>
<title>Welcome to the Bookshelf</title>
<body>
    <h1>Welcome to Bookshelf {{username}}</h1>
    <p>Please click on the book you would like to request</p>
    <table>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>ISBN</th>
            </tr>
            {% for isbn in books %}
            <tr>
              <td><a href="/request?book={{books[isbn].getISBN()}}">{{books[isbn].getTitle()}}</a></td>
              <td>{{books[isbn].getAuthor()}}</td>
              <td>{{books[isbn].getISBN()}}</td>
            </tr>
            {% endfor %}
    </table>
    <p><a href="/logout">Logout</a></a></p>
    

</body>